<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
</head>
<body>
	<h1>Welcome Anonymous User!</h1>
    <a href = "/workouts/">List of all workouts</a>
    <a href = "/register/">Create Personalized Workout</a>
    <a href = "/login/">Login</a>
</body>
</html>