<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Profile Page</title>
</head>
<body>
	<h1>User Information</h1> <br>
    <a href = "/workouts/"> View Previous Workouts (Not Working) </a> <br>
    <a href = "/changeWorkout/"> Change Previous Workouts (Not Working) </a> <br>
    <a href = "/changeInfo/"> Change Email Address </a> <br>
    <a href = "/workoutform/"> Create New Personalized Workout </a> <br>
    <br> <a href = "/home/"> Return to Home Page </a> <br>
    <a href = "/logout/">Logout</a>
</body>
</html>