<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Update Email </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="container">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-bs-dismiss="alert"> 
                        &times;
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <form action="#", method="post">
                    {{ form.hidden_tag() }}
                    <div class="row"> {{ form.email.label }} {{ form.email() }} </div>
                    <div class="row"> {{ form.newEmail.label }} {{ form.newEmail() }} </div>
                    <div class="row"> {{ form.submit() }} </div>
                </form>
                <div class="row">  
                    <p> 
                        <a href="/profile/"> Return to Profile Page </a> 
                    </p>
                </div>
            </div>
        </main>
    </body>

</html>