<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Workout List </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-bs-dismiss="alert"> 
                        &times;
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <h1>Workout List</h1>
        <table>
            <tr>
                <th>Abs</th>
            </tr>
            {%for x in abslist%}
            <tr>
                <td><a href = "{{x.1}}">{{x.0}}</a></td>
            </tr>        
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Chest</th>
            </tr>
            {%for x in chestlist%}
            <tr>
                <td><a href = "{{x.1}}">{{x.0}}</a></td>
            </tr>        
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Back</th>
            </tr>
            {%for x in backlist%}
            <tr>
                <td><a href = "{{x.1}}">{{x.0}}</a></td>
            </tr>        
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Biceps</th>
            </tr>
            {%for x in bicepslist%}
            <tr>
                <td><a href = "{{x.1}}">{{x.0}}</a></td>
            </tr>        
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Triceps</th>
            </tr>
            {%for x in tricepslist%}
            <tr>
                <td><a href = "{{x.1}}">{{x.0}}</a></td>
            </tr>        
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Shoulders</th>
            </tr>
            {%for x in shoulderslist%}
            <tr>
                <td><a href = "{{x.1}}">{{x.0}}</a></td>
            </tr>        
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Legs</th>
            </tr>
            {%for x in legslist%}
            <tr>
                <td><a href = "{{x.1}}">{{x.0}}</a></td>
            </tr>        
            {% endfor %}
        </table>
        <a href = "/register/">Create Personalized Workout</a>
        <br>
        <a href = "/login/">Login</a>
        <br>
        <a href = "/Home/"> Return to Home Page </a>
    </body>
</html>