body {
  background-color: rgba(0, 0, 0, 0.025);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.img1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p1 {
  font-weight: bold;
}
